@import "imports/general.css";

.content {
  width: 800px;
  margin: 0 auto;
  max-width: 95%;
}

#profile-pic {
  float: right;
  margin: 20px;
}

.mobile-search {
  display: none;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .mobile-search {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  #profile-pic {
    display: none;
  }

  #mobile {
    display: block;
  }
}
