@import "imports/general.css";

.content {
  width: 800px;
  margin: 0 auto;
  max-width: 95%;
}

#profile-pic {
  float: right;
  margin-left: 20px;
  max-width: 400px;
}

.mobile-search {
  display: none;
}

#mobile-pic {
  display: none;
}

@media only screen and (max-width: 650px) {
  #profile-pic {
    display: none;
  }

  #mobile-pic {
    display: block;
    width: 50%;
  }
}
