@import "imports/general.css";

.list {
  list-style: disc;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 250px;
  border: 1px solid black;
}

.list li {
  float: none;
}

li a {
  display: block;
  text-decoration: underline;
}

h2 {
  margin: 0 50px;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 40px;
}

.image {
  width: 100%;
}

.blocks {
  padding: 20px;
  position: relative;
}

.left {
  margin: 0;
}

.right {
  text-align: right;
}

.numbertext {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 5px 10px;
}

.more-posts {
  text-decoration: underline;
  margin: 0 50px;
}

a {
  text-decoration: none;
  color: black;
}

.author {
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
  .blog-container {
    grid-template-columns: 1fr 1fr;
    margin: 10px 40px;
  }
}

@media only screen and (max-width: 800px) {
  .blog-container {
    grid-template-columns: 1fr;
    margin: 10px 40px;
  }
}
