@import "imports/general.css";

.wp-content {
  text-align: center;
  width: 900px;
  max-width: 95%;
  margin: 0 auto;
}

h2 {
  margin-top: 60px;
}

p {
  text-align: left;
}

.picture {
  margin: auto;
}

figure img {
  width: 80%;
  height: 80%;
  cursor: zoom-in;
}

.size-medium {
  width: 200px;
  float: left;
  margin-right: 20px;
  margin-left: -40px;
  position: relative;
  cursor: zoom-in;
}

.second-float figure img {
  float: right;
  margin-left: 20px;
  margin-right: -40px;
}

.heading {
  border: 1px solid white;
  width: 500px;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
}

.date,
.author {
  color: rgb(111, 109, 109);
}

.icon {
  width: 15px;
  margin-right: 5px;
}

.author {
  position: absolute;
  right: 0;
  bottom: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  width: 80%;
  margin: auto;
  max-width: 500px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  transition: 0.2s;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}

.close:hover {
  cursor: pointer;
  color: grey;
}

/* Animation */

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* loader */

#guitar {
  animation: spin 2s linear infinite;
  width: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-container {
  height: 400px;
  text-align: center;
  margin-top: 100px;
}

/*Media Queries*/

@media only screen and (max-width: 800px) {
  figure img {
    width: 100%;
  }

  .size-medium,
  .second-float figure img {
    float: none;
    width: 80%;
  }

  .size-medium {
    margin-left: 10px;
  }

  .second-float figure img {
    margin-right: 10px;
  }
}
