@import "imports/general.css";

#blog-post-header,
.content select {
  display: inline-block;
  margin: 10px 50px;
}

.content select {
  font-size: 20px;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 40px;
}

.image {
  width: 100%;
}

.blocks {
  padding: 20px;
  position: relative;
  background-color: #f8f8f8;
}

.left {
  margin: 0;
}

.right {
  text-align: right;
  margin: 0;
  color: rgb(111, 109, 109);
}

.category {
  color: rgb(111, 109, 109);
}

.icon {
  width: 15px;
  margin-right: 5px;
}

.numbertext {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 5px 10px;
}

.more-posts {
  text-decoration: underline;
  height: 60px;
  margin-top: 150px;
  text-decoration: none;
  font-size: large;
  background-color: #d5cdc8;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.author {
  text-transform: uppercase;
}

/* loader */

#guitar {
  animation: spin 2s linear infinite;
  width: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-container {
  height: 400px;
  text-align: center;
  margin-top: 100px;
  width: 300%;
}

@media only screen and (max-width: 1000px) {
  .blog-container {
    grid-template-columns: 1fr 1fr;
    margin: 10px 40px;
  }

  .load-container {
    width: 200%;
  }
}

@media only screen and (max-width: 800px) {
  .blog-container {
    grid-template-columns: 1fr;
    margin: 10px 40px;
  }

  .load-container {
    width: 100%;
  }

  .blocks {
    padding: 0;
  }

  .blog-container {
    margin: 10px 20px;
  }
}
