@import "imports/general.css";

.mySlides {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.blocks {
  display: inline-block;
}

.slideshow-container {
  width: 95%;
  position: relative;
  margin: auto;
  border: 1px solid red;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  top: 50%;
  user-select: none;
}

.next {
  right: 0;
}

.image {
  width: 50%;
}
