@import "imports/general.css";

.mySlides {
  margin: 20px 0px;
  border: 1px solid black;
}

.blocks {
  display: inline-block;
  border: 1px solid black;
  margin: 0 25px;
  width: 300px;
}

.slideshow-container {
  width: 95%;
  position: relative;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}

h2 {
  border: 1px solid black;
  min-height: 120px;
}

.left {
  text-align: left;
  border: 1px solid black;
}

.right {
  text-align: right;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 200px;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.image {
  width: 100%;
}
